{% extends 'base.html' %}

{% block title %}{{ movie.title }} - Details{% endblock %}

{% block body %}
<h1>{{ movie.title }}</h1>

<p>
    {{ movie.overview }}
</p>

<h4>Would You Like to Rate This Movie?</h4>
<form action='/movies/{{ movie.movie_id}}' method="POST">
    <p>
        <label for="rating-scores">Score:</label>
        <select name="rating-scores">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="submit">
    </p>
</form>

<img src="{{ movie.poster_path }}">
{% endblock %}