{% extends 'base.html'%}
{% block title %} User Profile {% endblock %}

{%block body%}
<h1>Welcome!</h1>

<h2>Navigation</h2>
<ul>
    <li><a href="/movies">View all movies</a></li>
</ul>

<h2>Ratings</h2>
<form action="/users/{{ user.user_id}}" method="POST">
    <legend>Check the ratings you would like to edit:</legend>
    <ul>{%for rating in ratings%}
        <li>
            <input type="checkbox" id={{rating.movie.title}} name="movie_rating" value="{{rating.score}}" />
            <label for={{rating.movie.title}}>{{rating.movie.title}} Score:{{rating.score}}</label>
        </li>
        {%endfor%}
    </ul>
    <input type="submit">
</form>

{%endblock%}